/* Base Container */
.auth-container {
  background-color: #011627;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden; /* Prevent swiping left */
}

/* Logo Section */
.logo-section {
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-img {
  width: 72%;
  max-width: 280px;
  height: auto;
}

.logo-text {
  margin-top: 6px;
  font-family: "Inter Black", sans-serif;
  color: #fdfffc;
  font-size: 33.6px;
  text-align: center;
}

/* Form Container */
.form-container {
  background-color: #41ead4;
  width: 140%; /* Made larger */
  height: auto;
  position: right;
  /*left: -20%; /* Shifted left so top-right touches right edge */
  border-top-right-radius: 225px; /* More exaggerated corner */
  border-top-left-radius: 0;
  padding: 40px 20px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Form Title */
.form-title {
  font-family: "Inter Bold", sans-serif;
  font-size: 42px;
  text-align: center;
  color: #011627;
  margin-bottom: 6px;
}

.form-subtitle {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  color: #011627;
  margin-bottom: 24px;
}

/* Form */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input-group {
  width: 100%;
  max-width: 314px;
  margin-bottom: 12px;
}

.form-label {
  font-family: "Inter Bold", sans-serif;
  font-size: 12px;
  color: #fc3b48;
  margin: 10px 0 2px;
  display: block;
}

/* Username & Password Inputs */
.form-input {
  width: 100%;
  background-color: #011627;
  color: #fdfffc;
  border: none;
  border-radius: 10px;
  padding: 12px 16px;
  font-size: 16px;
  display: block;
}

.password-field {
  position: relative;
  width: 100%;
}

.toggle-btn {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-20%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.login-btn {
  background-color: #ff7e21;
  color: #011627;
  font-family: "Inter Bold", sans-serif;
  border: none;
  border-radius: 10px;
  padding: 12px 0;
  width: 100%;
  max-width: 292px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
}

.login-btn:hover {
  background-color: #fc3b48;
}

.forgot-link {
  display: block;
  text-align: center;
  margin-top: 16px;
  color: #fdfffc;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
  background: none;
  border: none;
}

.register-text {
  text-align: center;
  color: #fdfffc;
  font-size: 12px;
  margin-top: 8px;
}

.register-link {
  color: #fdfffc;
  text-decoration: underline;
  cursor: pointer;
}
